.card-2 {
  border: 3px solid black;
  border-radius: 15px;
  padding: 10px;
  width: 400px;
}

.review-2 {
  font-size: 0.9em;
}

.reviewer-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reviewer-image-2 {
  width: 100px;
  margin-right: 10px;
}

.reviewer-picture-2 {
  border-radius: 100px;
  object-position: center;
  object-fit: cover;
}

.reviewer-name-2 {
  font-size: 1em;
  margin-bottom: 5px;
}

.reviewer-job-2 {
  font-size: 0.8em;
  margin-top: 0;
}